


/*------------------------------POSITION-------------------------------------*/
.menu {
width: 100%;
}
.routes {
 margin-top: 50px;
}
/*---------------------------------------------------------------------------*/

body {
  font-family: helvetica;
}


/*-----------------------------------MAIN-------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  align-items: center;
}
/*header ----------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  background-color: #393a44;
  text-align: center;
  height: 150px;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  color: white;
  justify-content: space-evenly;
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: space-evenly;  
  flex-direction: row;
  flex: 1;
  list-style: none;
  margin-bottom: 0;
  color: white;
  padding-inline-start: 0px;
  }


 nav ul li {
  color: white;
  padding: 0; 
  margin-bottom: 0;
  margin: 0, 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 100%;
  margin: auto;
} 

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 12px;
}

nav ul li a:hover {
  text-decoration: none;
  color: grey;
}
nav ul li a {
  color: white;
}
/*------------------------------------------------LIST NAVIGATION----------------------------------------------------*/

.clicked-button {
  width: 100px;
  height: 28px;
  border-radius: 2%;
  background-color: grey;
  color: white;
  border: 0px;
}

.unclicked-button {
  width: 100px;
  height: 28px;
  border-radius: 2%;
  background-color: #393a44;
  color: white;
  border: 0px;
}

/*-------------------------------------DATE NAVIGATION -----------------------------------*/
.date-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  align-items: center;
 }

 .date-nav-button {
  padding: 10px;
  border: 0px;
  text-align: center;
  justify-content: center;
  width: 90px;
  background-color: #393a44;
  height: 35px;
  color: white;
}


button:active {
background-color: grey;
}

/*---------------------------------------------ERRORS------------------------------------------------------*/
.errors {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
}

/*-----------------------------------------------LISTS (reservations and tables)--------------------------------------------------------*/
.list-title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.list-item {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 80%;
padding: 50px;
background-color:#f2f2f2;
}


/*--------------------------------FORMS ------------------------------*/

 .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: row;
}


.find-button {
  background-color: #393a44;
  width: 70px;
  color: white;
  border-radius: 3px;
  height: 30px;
  width: 100px; 
  border: 0px;
}

.cancel-form-button {
  background-color: red;
  border: 0px;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

.form-label, .form-select {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  height: 30px;
}

.form-select {
  width: 150px;
}

.form-buttons {
  margin-top: 20px;
}
/*------------------------------------------------------*/
.clicked-menu-nav a {
  color: grey;
}

/*-----------------------reservations----------------------------*/
.reservation-buttons-container {
  display: flex;
  flex-direction: row;
  color: white;
  margin-bottom: 20px;
}

.seat-button, .edit-button, .finish-button, .submit-button {
background-color: #393a44;
color: white;
border: 0px;
width: 100px;
height: 30px;
border-radius: 3px;
margin-right: 10px;
}

.cancel-button {
 padding-right: 10px;
 background-color: red;
 color: white;
 border: 0px;
 width: 210px;
 height: 30px;
 border-radius: 3px;
}

.reservation-data-container {
display: flex;
flex-direction: column;
}


